<section class="newsletter">

  <form action="">
    <h3>subscribe for latest updates</h3>
    <input type="email" name="" placeholder="enter your email" id="" class="box">
    <input type="submit" value="subscribe" class="btn">
  </form>

</section>