<section class="newsletter" id="newsletter">

  <form action="/newsletter" method="post">
    <h3>subscribe for latest updates</h3>
    <input type="email" name="mail" placeholder="enter your email" id="" class="box" required>
    <input type="submit" value="subscribe" class="btn">
  </form>

</section>