<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BooksShop</title>

  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
  {{>loader}}

  {{>header}}

  {{>navbar-bottom}}

  {{#if isActiveToken}}

  <div class="login-form-container">

    <div id="close-login-btn" class="fas fa-times"></div>

    <form action="/login/logout" method="post">
      <h3>Sign in</h3>
      <span style="text-transform: none;">You are logged as user: <strong style="text-transform: none;">{{mail}}</strong></span>

      <input type="submit" value="logout" class="btn">

    </form>
  </div>

  {{/if}}

  {{#unless isActiveToken}} {{>login-container}} {{/unless}}


  {{>home-section}}

  {{>icons-section}}

  {{>featured-section}}

  {{>newsletter-section}}

  {{>arrivals-section}}

  {{>deal-section}}

  {{>review-section}}

  {{>blogs-section}}

  {{>footer-section}}





  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <script src="./js/script.js"></script>
</body>

</html>