<div class="login-form-container active">
  {{!-- <a href="#" class="logo"><i class="fas fa-book"></i>booksShop</a> --}}

  <div><a href="/" id="close-login-btn" >x </a></div>

  <form action="/login/register/new" method="post">
    <h3>register</h3>
    <span>username (email)</span>
    <input type="email" name="mail" class="box" placeholder="enter your email" id="" required>
    <span>password</span>
    <input type="password" name="password" class="box" placeholder="enter your password" id="" required>
    <span>phone number</span>
    <input type="tel" name="phone" class="box" placeholder="enter your phone number" id="" required>

    <input type="submit" value="register" class="btn">

  </form>
</div>