<div class="login-form-container active">
  <div><a href="/" id="close-login-btn" >x </a></div>
  <form action="/login/remind/sent" method="post">
    <h3>Remind</h3>
    <span style="text-transform: none;">Enter email to set new password: </span>
    <input type="email" name="mail" class="box" placeholder="enter your email" id="" required>

    <input type="submit" value="remind" class="btn">
  </form>
</div>