<div class="info-added-container">
  <h3>Product added to basket:</h3>
  <span>"{{title}}" </span>
  <a href="/#featured" target="_self" class="btn">continue </a>
  <span> </span>
  <a href="/cart/resume" class="btn">go to payment </a>
</div>