<div class="info-added-container">
  <h3>newsletter add</h3>
  <span>Mail: <strong>{{mail}} </strong> already has existed in newsletter. See You! </span>
  <a href="/#newsletter" class="btn">ok </a>
</div>